.footer{ 
    /* position: fixed; quita espacio en el flujo*/ 
    height: 12rem;
    width: 100%;
    background-color: var(--backgroundfooter);
    bottom: 0;
    color: var(--colorFooter);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer__info{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: .7rem;
    letter-spacing: 1px;
    /* margin-top: 1rem; */
}

.direccion{
    margin-top: 1rem;
}

.direccion__detalle{
    line-height: 1.7rem;
}
.send-email{
    color: var(--fontColor);
    text-decoration: underline 1px solid #b98f10;
}
.redes__menu{
    margin-bottom: 0.4rem;
}
.redes__enlace{
    text-decoration: none;
}
.redes-icon__item{
    width: 25px;
    height: 25px;
}
.derechos{
    margin-top: 1.3rem;
    font-size: .5rem;
}
.derechos__autor{
    margin-left: 10px;
}
.derechos__img{
    width: 1.1rem;
    height: 1.5rem;
}
