.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10vw;
}

section > div > code{
    margin: 2rem;
    font-weight: 600;
}

.inicio{
    margin-top: 2rem;
}


.inicio__retrato{
    width: 150px;
    height:155px;
    border-radius:160px;
    border: 1px solid #b98f10;
    margin-top: 5rem;
    
}

.inicio__nombre{
    text-align: center;
    margin-top: 2rem;
}