.proyectos-titulo{
    margin: 1rem;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
}
.proyectos__titulo-pagina{
    /* text-align: left;
    margin: 1.5rem; */
    margin-top: 1rem;
    line-height: 2rem;
    text-align: justify;
}
.proyectos__pagina{
    font-size: large;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    filter: drop-shadow(1px 1px 5px var(--colorbody));
}

.proyectos--desc{
    text-align: center;
}

.proyectos__det{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;    
    align-items: center;
}

.proyectos__tabla{
    list-style: none;
}

.proyectos__item{
    margin: 2rem 0rem;
}

.proyectos__item > a{
    text-decoration: none;
    color: black;
    text-align: center;
}

.proyectos__item > a > img{
    width: 150px;
    height: auto;
    min-width: 100px;
    max-width: 350px ;
}