@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,500&display=swap');

:root{
    --backroundheader: #232323;
    --backgroundBody: #fcf9f3;
    --backgroundfooter: #232323;
    --colorFooter: #fcf9f3;
    --colorheader: #fcf9f3;
    --colorbody: #363636;
    --backgroundMenu: #2c2c2c;
}

*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}

html{
    font-size: 62.5%;
    color: var(--colorFont);
    
}

body {
    background-color: var(--backgroundBody);
    padding-top: 50px;
    display: flex; 
    flex-direction: column;
    height: 100vh;
}

main{
    flex-grow: 1;
}