*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
    width: 100vw;
}

/* HEADER */

@media screen and (max-width: 767px){
    .header__links{
        display: none;
    }
}

.header {
    position: relative;
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: #201C1C;
    /* display: flex; */
    
    
}

.burgerM {
    position: absolute;
    margin-top: 5.5%;
    width: 5%;
    height: 30%;
    left:2% ;
    /* left: 5px;
    transform: translate(0px, 15px); */
}

.bLine{
    position: absolute;
    height: .2vh;
    width: 86%;
    margin-top: 7.3%;
    left: 8%
    /* left: 7px;
    transform: translate(0px, 22px); */
}

.header__i3{

    position: absolute;
    max-height: 70%;
    max-width: 70%;
    right:43%;
    margin-top: 10%;
    /* max-width: 15%; */
    /* top: 34px;
    right: 45vw; */
}

/* CONTENT */

main{
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    min-height: 85vh;
    background-color: #201C1C;  
}

.container{
    background-color: #D9D9D9;
    border-radius: 10px;
    width: 80vw;
    height: 80vh;
    position: relative;
    top: 30px;
    /* inwards */
    display: flex;   
    flex-wrap: wrap;
    justify-content:end;
}

.item1{
    padding: 1vh;
    border-radius: 10px;
    position: relative;
    background-color: #D9D9D9;
    width: 40vh;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
}

.title1{
    position: relative;
    font-family:'Benne', serif ;
    font-size:xx-large;
    text-align: end;
    top: 15px;
    left: -5px;
    z-index: 3;
}

.dream1{
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    text-align: justify;
    z-index: 2;

}

.fraseBo{
    z-index: 2;
    position: absolute;
    max-width: 40vh;
    font-size: 10%;
    font-family: 'Benne', serif;
    text-align: start;
    top: 90%;
    left:2%;
    
}

.hands{
    position: absolute;
    max-width: 35%;
    max-height: 20%;
    top: 10px;
    left: -29px;
    z-index: 1;
}

.statue{
    position: absolute;
    max-width: 17%;
    max-height: 10%;
    top: 85px;
    left: 5px;
    z-index: 1;
}



/* Footer */

.Footer{
    background-color: #201C1C;
    width: 100vw;
    height: 5vh;
}