---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Portfolio | About">
	<Header />
	<main class="main">
		<section class="main__section">
			<h2 class="main__sectionTitle">ABOUT ME</h2>
			<p class="main__sectionParag">Hello! My name is Erick, Im a Mechatronics Engineer, and a Frontend Web Developer.
				Im currently working with HTML, CSS, JavaScript and ReactJS/ViteJs. <br/>
				I’m open to JOB opportunities where i can contribuite, learn and grow. Check my projects and skills, dont hesitate to contact me.</p>
				<button class="main__sectionBtn">CONTACT</button>
		</section>

		<section class="main__section2">
			<h2 class="main__sectionTitle">SKILLS</h2>
			<section class="main__sectionTSkills">
				<img src="https://img.icons8.com/color/344/html-5--v1.png" alt="HTML" class="main__sectionIcon">
				<img src="https://img.icons8.com/color/344/css3.png" alt="CSS" class="main__sectionIcon">
				<img src="https://img.icons8.com/color/344/javascript--v1.png" alt="JS" class="main__sectionIcon">
				<img src="https://img.icons8.com/plasticine/344/react.png" alt="REACT" class="main__sectionIcon">
				<img src="https://img.icons8.com/color/344/git.png" alt="GIT" class="main__sectionIcon">
				<img src="https://img.icons8.com/color/344/bootstrap.png" alt="BOOTSTRAP" class="main__sectionIcon">
				<img src="https://img.icons8.com/fluency/344/tailwind_css.png" alt="TAILWINDSCSS" class="main__sectionIcon">
				<img src="https://img.icons8.com/fluency/344/azure-1.png" alt="AZURE" class="main__sectionIcon">
				<img src="https://img.icons8.com/fluency/344/figma.png" alt="FIGMA" class="main__sectionIcon">
			</section>
		</section>
	</main>
	<Footer />
</Layout>

<style>
	.main{
		display: flex;
		flex-direction: column;
		padding: 0.5rem;
	}
	.main__section{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 1rem;
		padding: 0.5rem;
	}
	.main__sectionTitle{
		text-align: center;
		font-size: 2.8rem;
		font-weight: 700;
		color: #E40037;
	}
	.main__sectionParag{
		text-align: center;
		color: #FFFFFE;
		font-size: 1.6rem;
		padding: 1rem;
		margin-bottom: 0.5rem;
	}
	.main__sectionBtn{
		padding: 0.7rem;
		margin-bottom: 1rem;
		border: none;
		border-radius: 1rem;
		width: 30%;
		font-size: 1.4rem;
		font-weight: 700;
		background-color: #E40037;
		color: #FFFFFE;
		box-shadow: 0px 0px 3px 3px rgba(138, 1, 1, 0.757);
		cursor: pointer;
	}
	.main__sectionTSkills{
		display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
		gap: 1rem;
		margin-bottom: 1rem;
		margin-top: 1rem;
	}
	.main__sectionIcon{
		width: 7.5rem;
	}

	@media only screen and (min-width: 800px) {
	.main{
		flex-direction: row;
		align-items: center;
		padding: 1rem;
	}
	.main__section{
		padding: 1rem;
		width: 100%;
	}
	.main__section2{
		margin-top: 1rem;
		padding: 1rem;
		width: 100%;
	}
	.main__sectionTitle{
		font-size: 3.5rem;
		text-align: center;
	}
	.main__sectionParag{
		text-align: left;
		font-size: 2rem;
	}
	.main__sectionTSkills{
		gap: 2rem;
		margin-bottom: 1rem;
		margin-top: 1rem;
	}
	.main__sectionIcon{
		width: 9rem;
	}
}
</style>
