---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Portfolio | Projects">
	<Header />
	<main class="main">
		<h2 class="main__title">Some projects I have built</h2>
		<section class="main__section">
			<div class="main__sectionProject">
				<section class="main__sectionProject">
					<h2 class="main__projectTitle">Bank Design with Figma and React</h2>
					<section>
						<p class="main__projectDesc">This work was designed first with figma, and then it was designed in the react library using only CSS for the styles.</p>
					</section>

					<section class="main__projectTech">
						<p class="main__projectTech--item">1. React</p>
						<p class="main__projectTech--item">2. CSS</p>
						<p class="main__projectTech--item">3. Figma</p>
					</section>

					<section class="main__projectLinks">
						<a href="https://erick-gonza.github.io/ReactBankDesign/" target="_blank" class="footer__links--white">Live Demo: <i class="fa-brands fa-github"></i></a>
					</section>
				</section>

				<section class="main__sectionImg">
					<img src="https://i.postimg.cc/PxJcx8Vf/bank-design.png" alt="BankDesign" class="main__sectionImg--size">
				</section>
			</div>

			<div class="main__sectionProject">
				<section class="main__sectionImg">
					<img src="https://i.postimg.cc/13PyzJG9/toDoApp.png" alt="toDoApp" class="main__sectionImg--size">
				</section>

				<section class="main__sectionProject">
					<h2 class="main__projectTitle">Bank Design with Figma and React</h2>
					<section>
						<p class="main__projectDesc">This work was designed first with figma, and then it was designed in the react library using only CSS for the styles.</p>
					</section>

					<section class="main__projectTech">
						<p class="main__projectTech--item">1. React</p>
						<p class="main__projectTech--item">2. CSS</p>
						<p class="main__projectTech--item">3. Figma</p>
					</section>

					<section class="main__projectLinks">
						<a href="https://erick-gonza.github.io/ReactBankDesign/" target="_blank" class="footer__links--white">Live Demo: <i class="fa-brands fa-github"></i></a>
					</section>
				</section>
			</div>

			<div class="main__sectionProject">
				<section class="main__sectionProject">
					<h2 class="main__projectTitle">Bank Design with Figma and React</h2>
					<section>
						<p class="main__projectDesc">This work was designed first with figma, and then it was designed in the react library using only CSS for the styles.</p>
					</section>

					<section class="main__projectTech">
						<p class="main__projectTech--item">1. React</p>
						<p class="main__projectTech--item">2. CSS</p>
						<p class="main__projectTech--item">3. Figma</p>
					</section>

					<section class="main__projectLinks">
						<a href="https://erick-gonza.github.io/ReactBankDesign/" target="_blank" class="footer__links--white">Live Demo: <i class="fa-brands fa-github"></i></a>
					</section>
				</section>

				<section class="main__sectionImg">
					<img src="https://i.postimg.cc/vHwsP3SW/lista-pacientes.png" alt="ListPatients" class="main__sectionImg--size">
				</section>
			</div>

			<div class="main__sectionProject">
				<section class="main__sectionImg">
					<img src="https://i.postimg.cc/634kcvrj/rickandmortyapi.png" alt="APIRickAndMorty" class="main__sectionImg--size">
				</section>

				<section class="main__sectionProject">
					<h2 class="main__projectTitle">Bank Design with Figma and React</h2>
					<section>
						<p class="main__projectDesc">This work was designed first with figma, and then it was designed in the react library using only CSS for the styles.</p>
					</section>

					<section class="main__projectTech">
						<p class="main__projectTech--item">1. React</p>
						<p class="main__projectTech--item">2. CSS</p>
						<p class="main__projectTech--item">3. Figma</p>
					</section>

					<section class="main__projectLinks">
						<a href="https://erick-gonza.github.io/ReactBankDesign/" target="_blank" class="footer__links--white">Live Demo: <i class="fa-brands fa-github"></i></a>
					</section>
				</section>
			</div>
		</section>
	</main>
	<Footer />
</Layout>

<style>
	.main{
		padding: 1rem;
	}
	.main__section{
		display: flex;
		flex-direction: column;
	}
	.main__sectionProject{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		margin-bottom: 2rem;
		padding: 1rem;
		text-align: center;
	}
	.main__sectionImg{
		width: 100%;
		padding: 1rem;
	}
	.main__sectionImg--size{
		width: 100%;
		border-radius: 1rem;
	}
	.main__sectionProject{
		width: 100%;
	}
	.main__title{
		font-size: 2.5rem;
		color: #fffffe;
	}
	.main__projectTitle{
		font-size: 1.8rem;
		color: #fffffe;
		text-align: left;
	}
	.main__projectDesc{
		font-size: 1.6rem;
		color: #fffffe;
		text-align: left;
	}

.main__projectTech{
	display: flex;
	gap: 1rem;
	width: 100%;
	text-align: center;
}	.main__projectTech--item{
		font-size: 1.6rem;
		color: #fffffe;
	}
	.main__projectLinks{
		font-size: 1.6rem;
		color: #fffffe;
		text-align: left;
	}
</style>
