/*---------- VARIABLES  ----------*/
:root {
  --primaryColor: #ff003e;
  --secondaryColor: #ffffff;
  --opacityColor: #a7a9be;
  --bgColor: #0f0e17;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/*---------- RESET & GLOBALS ----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: var(--bgColor);
}
a {
  text-decoration: none;
}
body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 15vh auto 20vh;
  grid-template-areas:
    "header header header header header"
    "main main main main main"
    "footer footer footer footer footer";
}

/*---------- HEADER ----------*/
header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.header__sect {
  text-align: center;
}
.header__title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-bottom: 0.5rem;
  color: var(--secondaryColor);
}
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 1px #ff003e, 0 0 2px #ff003e, 0 0 4px #ff003e,
      0 0 8px #ff003e, 0 0 15px #ff003e, 0 0 10px #ff003e, 0 0 20px #ff003e,
      0 0 40px #ff003e;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
.header__subtitle {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: var(--secondaryColor);
  /* animation: flicker 1.5s infinite alternate; */
}
.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  color: var(--secondaryColor);
  text-decoration: none;
}
.menuItem:hover {
  text-decoration: underline;
}
.hamburger {
  position: fixed;
  z-index: 100;
  top: 5vh;
  right: 2.5rem;
  padding: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.closeIcon {
  display: none;
  color: var(--secondaryColor);
}
.menuIcon {
  display: block;
  color: var(--secondaryColor);
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #000000de;
  color: white;
  list-style: none;
  padding-top: 4rem;
}
.showMenu {
  transform: translateY(0);
}

/*---------- MAIN ----------*/
.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.main__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding: 0.5rem;
}
.main__sectionTitle {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
  color: #e40037;
}
.main__sectionParag {
  text-align: center;
  color: #fffffe;
  font-size: 1.6rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.main__sectionBtn {
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 1rem;
  width: 30%;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #e40037;
  color: #fffffe;
  box-shadow: 0px 0px 3px 3px rgba(138, 1, 1, 0.757);
  cursor: pointer;
}
.main__sectionTSkills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.main__sectionIcon {
  width: 7.5rem;
}

/*---------- FOOTER----------*/
.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}
.footer__firstS {
  text-align: center;
  width: 100%;
}
.footer__firstS--title {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: var(--secondaryColor);
}
.footer__firstS--p {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  color: var(--opacityColor);
}
.footer__firstS--region {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
  color: var(--primaryColor);
}
.footer__secondS {
  display: flex;
  justify-content: center;
  gap: 1.8rem;
  width: 100%;
}
.footer__links--red {
  color: var(--primaryColor);
  font-size: 2.5rem;
}
.footer__links--white {
  color: var(--secondaryColor);
  font-size: 2.5rem;
}

/*---------- HEADER ----------*/
@media only screen and (min-width: 800px) {
  header {
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .header__sect {
    text-align: center;
  }
  .header__title {
    font-size: 3rem;
  }
  .header__subtitle {
    font-size: 2rem;
  }
  .menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 2.5rem;
  }
  .menuItem:hover {
    text-decoration: underline;
  }
  .hamburger {
    position: fixed;
    z-index: 100;
    top: 5vh;
    right: 2.5rem;
    padding: 0.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    transform: translateX(100%);
    transition: transform 0.3s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: #000000de;
    color: white;
    padding-top: 1rem;
  }
  .showMenu {
    transform: translateY(0);
  }
}

/*---------- MAIN ----------*/
@media only screen and (min-width: 800px) {
  .main {
    flex-direction: row;
    align-items: center;
    padding: 1rem;
  }
  .main__section {
    padding: 1rem;
    width: 100%;
  }
  .main__section2 {
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
  }
  .main__sectionTitle {
    font-size: 3.5rem;
    text-align: center;
  }
  .main__sectionParag {
    text-align: left;
    font-size: 2rem;
  }
  .main__sectionTSkills {
    gap: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .main__sectionIcon {
    width: 9rem;
  }
}

/*---------- FOOTER ----------*/
@media only screen and (min-width: 800px) {
  .footer {
    display: flex;
    flex-direction: row;
    padding: 1rem;
  }
  .footer__firstS {
    text-align: center;
  }
  .footer__firstS--title {
    font-size: 3rem;
  }
  .footer__firstS--p {
    font-size: 2rem;
  }
  .footer__firstS--region {
    font-size: 2rem;
  }
  .footer__secondS {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .footer__links--red {
    font-size: 4.5rem;
    margin-right: 2rem;
  }
  .footer__links--white {
    font-size: 4.5rem;
    margin-right: 2rem;
  }
}
