:root{
    --Color1:#2D4059;
    --Color2:#EEEEEE;
    --Color3:#FF5722;
    --Color4:#222831;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: var(--Color1) !important;
}

#navbarSupportedContent a:active{
    color: var(--Color3);
}

#navbarSupportedContent a:hover{
    color: var(--Color3);
}

#Home{
    height: 90vh;
    width: 100vw;
    background-color: var(--Color1);
}