:root {
    --background: #C19D53;
    --body: #16212C;
    --gray2: #4F4F4F;
    --graybrown: #2A2827;
    --white: #FFFFFF;
    --crown: "./images"
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 6rem;
    flex-wrap: nowrap;
}

.imageCrown {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 100vw;
    height: 6rem;
}


/* .imageMenu {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    height: 2rem;
    width: 2rem;
} */

#imgmenu {
    height: 2rem;
    width: 2rem;
    object-fit: contain;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--body);
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
}

.bordeL {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 4rem;
}

.bordeR {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 4rem;
}

#bordeL,
#bordeR {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.foto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    margin-top: 7rem;
    width: 100vw;
}

#pp {
    height: 8rem;
    width: 8rem;
    object-fit: contain;
    background-image: url(../images/pp.jpg);
    background-size: cover;
    border-radius: 50%;
}

footer {
    height: 12rem;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.bonefire {
    height: 100%;
    width: 100%;
    margin-bottom: 2rem;
}

#bf {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


/* Esto es apra cuandoe este en desktop */

@media only screen and (min-width: 750px) {
    .imageCrown {
        display: none;
    }
    .BorderL,
    .BorderL {
        display: none;
    }
}