:root {
    --background: #C19D53;
    --body: #16212C;
    --gray2: #4F4F4F;
    --graybrown: #2A2827;
    --white: #FFFFFF;
    --crown: "./images"
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    color: var(--white);
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 6rem;
    flex-wrap: nowrap;
}

.imageCrown {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 100vw;
    height: 6rem;
}

#sidebar {
    position: fixed;
    z-index: 1;
    width: 30vw;
    height: 100vh;
    right: -200px;
    background-color: var(--graybrown);
}

#sidebar.active {
    left: 0;
}

#sidebar ul li {
    text-align: center;
    padding: 1.5rem 1rem;
    border-bottom: 1rem solid rgba(100, 100, 100, .3);
}

#sidebar .toogle-btn {
    position: fixed;
    top: 7vh;
    right: 31vw;
    cursor: pointer;
}

#sidebar .toogle-btn span {
    display: block;
    width: 40px;
    text-align: center;
}

#imgmenu,
#proyec,
#Home,
#like,
#contact {
    height: 2rem;
    width: 2rem;
    object-fit: contain;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--body);
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
}

.bordeL {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 4rem;
}

.bordeR {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 4rem;
}

#bordeL,
#bordeR {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.foto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    margin-top: 7rem;
    width: 100vw;
}

#pp {
    height: 8rem;
    width: 8rem;
    object-fit: contain;
    background-image: url(../images/pp.jpg);
    background-size: cover;
    border-radius: 50%;
}

.presentacion {
    position: fixed;
    height: 10rem;
    width: 100vw;
    margin-top: 18rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#press {
    height: 100%;
    width: 75%;
    object-fit: contain;
    align-items: center;
}

footer {
    height: 12rem;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.bonefire {
    height: 100%;
    width: 100%;
    margin-bottom: 2rem;
}

#bf {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


/* Esto es apra cuandoe este en desktop */

@media only screen and (min-width: 750px) {
    .imageCrown {
        display: none;
    }
    .BorderL,
    .BorderL {
        display: none;
    }
}