/* Prueba */
:root {
    --primaryColor: dodgerBlue;
    --secondaryColor: rgb(31, 31, 32);
    --backgroundColor: rgb(243, 243, 246);
    --complementaryColor: rgb(214, 214, 214);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    width: 100vw;
}

.body {
    background-image: linear-gradient(var(--primaryColor), black);
}

.header {
    height: 10vh;
}

.navbar{
    display: none;
}
.main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 7rem;
}

.main__h1 {
    color: white;
    font-size: 3rem;
    max-width: 50vw;
    text-align: center;
    margin: 1rem;
}

.main__p--name {
    font-size: 2rem;
    margin: .5rem;
    color: white;
}

.main__div--profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 40vw;
    background-color: var(--complementaryColor);
    border-radius: 40vw;
}

.main__img--profilePicture {
    height: 38vw;
    width: 38vw;
    border-radius: 38vw;
}

.main__div--presentation{
    width: 90vw;
    background-color: var(--complementaryColor);
    border-radius: 1rem;

}

.main__div--profileContainerDesktop {
    position: relative;
    top:-7rem;
    left: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vw;
    background-color: var(--secondaryColor);
    border-radius: 40vw;
}
.main__img--profilePictureDesktop {
    height: 9vw;
    width: 9vw;
    border-radius: 9vw;
}

.main__div--sections {
    margin-top: 2rem;
}

.main__div--section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem;
    width: 80vw;
    height: 5rem;
    background-color: var(--backgroundColor);
    margin: .8rem;
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 5rem;
    background-color: var(--secondaryColor);

}

.footer__div--Contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: .3rem;
}

.footer__img {
    height: 4rem;
    width: 4rem;
}


/* 
@media screen and (min-width: 600px) {
    .body {
        background-image: none;
        background-color: var(--backgroundColor);

    }

    .header {
        height: 35vh;
        background-image: linear-gradient(var(--primaryColor), var(--primaryColor), var(--backgroundColor));
    }

    .main{
        top: -7rem;
    }
    .main__div--profileContainer,.main__h1, .main__div--sections, .main__p--name, .footer {
        display: none;
    }
    .navbar{
        display: block;
        height: 5rem;
        font-size: 2.5rem;
    }

    
} */