body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-image: url("https://fondosmil.com/fondo/36830.jpg");
    background-size: auto;
  }
  /*caja de bienvenida*/
  .box {
    display: flex;
    align-items: center;
  }
  
  .box .inner {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: 2em;
    font-family: sans-serif;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .box .inner:first-child {
    background-color: aqua;
    color: rgba(0, 174, 255, 0.747);
    transform-origin: right;
    transform: perspective(100px) rotateY(-15deg);
  }
  
  .box .inner:last-child {
    background-color: aquamarine;
    color: rgba(15, 184, 196, 0.986);
    transform-origin: left;
    transform: perspective(100px) rotateY(15deg);
  }
  
  .box .inner span {
    position: absolute;
    animation: marquee 10s linear infinite;
  }
  
  .box .inner:first-child span {
    animation-delay: 5s;
    left: -100%;
  }
  
  @keyframes marquee {
    from {
      left: 100%;
    }
  
    to {
      left: -100%;
    }
  }
  
  /*navegador*/
  .toggle-menu {
      position: absolute;
      top: 0.5rem;
      right: 1.5rem;
      cursor: pointer;
      filter: invert(1);
      width: 40px;
      z-index: 1;
    }
    
    @media screen and (min-width: 768px) {
      .toggle-menu {
        display: none;
      }
    }
    
    .main-menu {
      list-style: none;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
    
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(15, 184, 196, 0.986);
      transition: transform 0.3s;
      transform: translateY(-100%);
    }
    
    .main-menu--show {
      transform: translateY(0);
    }
    
    .toggle-menu__checkbox {
      display: none;
    }
    
    .toggle-menu__checkbox:checked + .main-menu {
      transform: translateY(0);
    }
    
    @media screen and (min-width: 768px) {
      .main-menu {
        flex-direction: row;
        transform: translateY(0);
      }
    }
    
    .main-menu__item {
      padding: 1em;
    }
    
    .main-menu__link {
      color: white;
      text-transform: uppercase;
      text-decoration: none;
    }
  
    /*main*/
    .titulo {
      font-size: 3rem;
      text-align: center;
  }
  .imagen_info{
    width: 60%;
    height: 60%;
  }
  /*aside*/
  .card{
    align-items: center;
    width: 100%;
  
  }
  .card-img-top{
    width: 20vw;
    height: 20vh;
  }
  .redes_sociales{
    font-size: 36px;
    cursor: pointer;
  }
  .fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover{
    color: #008000;
  }
  .fab {
    color: #000000;
  }
  
  #footer {
    background-color: #808080;
    text-align: center;
  }
  
  
  