@media screen and (min-width: 480px) {
    .nav__a{
        display: inline-block;
    }
    .nav__h2{
        display:none
    }
    .nav__menu{
        display: none;
    }

    .main__herramientas__contenedorIndividual{
        width: 30%;
    }
}