
@media screen and (min-width: 480px) {
    body{
        background-color: var(--fondo);
    }
    .nav {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
      }
    .nav__a{
        display: inline-block;
        color: var(--blanco);
        text-decoration: none;
        font-size: 2rem;
    }
    .nav__h2{
        display:none
    }
    .instituciones{
        display: grid;

        grid-template-areas: 
        "nombre nombre nombre"
        "logo descripcion descripcion"
        ". descripcion descripcion"
        ;
    }
    .section__H4nombreInstitucion{
        grid-area: nombre;
    }
    .section__imgLogo{
        grid-area: logo;
    }
    .section__pDescripcion{
        grid-area: descripcion;
    }
}